<footer>
    <div class="container">
        <div class="col-sm-12">
            <h2>Lets's Stay Connected</h2>
            <br />
            <!-- Social Links -->
            <div>
                <ul class="list-inline menu-social">
                    <li><a class="fa fa-facebook" href="#" title="Facebook"></a>
                    </li>
                    <li><a class="fa fa-twitter" href="#" title="Twitter"></a>
                    </li>
                    <li><a class="fa fa-google-plus" href="#" title="Google+"></a>
                    </li>
                    <li><a class="fa fa-linkedin" href="#" title="Linkedin"></a>
                    </li>
                    <li><a class="fa fa-pinterest" href="#" title="Pinterest"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>